<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="author" content="ezzemm" />
		
		<title>ezStats 3 %for% $preset[default_gamename] - %update%</title>
		
		<link rel="shortcut icon" href="../favicon.ico" />
		<link rel="stylesheet" href="styles/normalize.css" />
		<link rel="stylesheet" href="styles/main.css" />
		<link rel="stylesheet" href="../styles/fonts.css" />
		<link rel="stylesheet" href="styles/style.php?files=content,form" />
		<!--[if IE 7]><link rel="stylesheet" href="styles/ie7.css" /><![endif]-->
	</head>
	
	<body>
		<div id="wrap" class="wrap">
			<header>
				<hgroup>
					<h1>%update%</h1>
					<h2>%update_message%</h2>
				</hgroup>
			</header>
			<section><div><a href="javascript:history.back()">%back%</a></div></section>
			<section><div><ul></ul></div></section>
		</div>
		<aside></aside>
	</body>
</html>