<style>
	x-tooltip {
		padding: 2px 4px !important;
	}
	.ezRatio {
		text-align: center;
		padding-bottom: 0.5em;
	}
	.ezRatio p {
		margin: 0 auto;
		font-size: 4em;
		font-weight: bold;
		text-align: center;
		line-height: 1em;
	}
	.ezPlaceIcon {
		width: 84px;
		height: 84px;
		float: right;
		margin-left: 4px;
	}
	.ezRankIcon {
		width: 96px;
		height: 96px;
		float: left;
		margin-left: 4px;
	}
	.ShipIcon {
		width: 107px;
		height: 63px;
		float: left;
		margin-left: 4px;
	}
</style>

<div class="ezContent">
	<div class="ez6">
		<h1>Okręty</h1>
		<table border="0" width="33%">
		<tr>
						<td width="90" align="center"><b><font size="7">I</font></b></td>
						<td width="90" align="left"></td>
						<td width="80" align="left">&nbsp;</td>
						<td align="left" width="20">
						
						<td width="100" align="left">
						
					</tr>
					<tr>
						<td width="90" align="center"><b><font size="7">II</font></b></td>
						<td width="90" align="left">&nbsp;</td>
						<td width="80" align="left">&nbsp;</td>
						<td align="left" width="20">
						&nbsp;</td>
						<td width="100" align="left">
						&nbsp;</td>
					</tr>
					<tr>
						<td width="90" align="center"><b><font size="7">III</font></b></td>
						<td width="90" align="left">&nbsp;</td>
						<td width="80" align="left">&nbsp;</td>
						<td align="left" width="20">
						&nbsp;</td>
						<td width="100" align="left">
						&nbsp;</td>
					</tr>
					<tr>
						<td width="90" align="center"><font size="7"><b>IV</b></font></td>
						<td width="90" align="left">&nbsp;</td>
						<td width="80" align="left"></td>
						<td align="left" width="20">&nbsp;</td>
						<td width="100" align="left">&nbsp;</td>
					</tr>
					<tr>
						<td width="90" align="center"><font size="7"><b>V</b></font></td>
						<td width="90" align="left">$omaha</td>
						<td width="80" align="left"></td>
						<td align="left" width="20">&nbsp;</td>
						<td width="100" align="left">&nbsp;</td>
					</tr>
					<tr>
						<td width="90" align="center"><font size="7"><b>VI</b></font></td>
						<td width="90" align="left">&nbsp;</td>
						<td width="80" align="left"></td>
						<td align="left" width="20">&nbsp;</td>
						<td width="100" align="left">&nbsp;</td>
					</tr>
					<tr>
						<td width="90" align="center"><font size="7"><b>VII</b></font></td>
						<td width="90" align="left">&nbsp;</td>
						<td width="80" align="left"></td>
						<td align="left" width="20">&nbsp;</td>
						<td width="100" align="left">&nbsp;</td>
					</tr>
					<tr>
						<td width="90" align="center"><font size="7"><b>VIII</b></font></td>
						<td width="90" align="left">&nbsp;</td>
						<td width="80" align="left"></td>
						<td align="left" width="20">&nbsp;</td>
						<td width="100" align="left">&nbsp;</td>
					</tr>
					<tr>
						<td width="90" align="center"><font size="7"><b>IX</b></font></td>
						<td width="90" align="left">&nbsp;</td>
						<td width="80" align="left"></td>
						<td align="left" width="20">&nbsp;</td>
						<td width="100" align="left">&nbsp;</td>
					</tr>
					<tr>
						<td width="90" align="center"><font size="7"><b>X</b></font></td>
						<td width="90" align="left">&nbsp;</td>
						<td width="80" align="left"></td>
						<td align="left" width="20">&nbsp;</td>
						<td width="100" align="left">&nbsp;</td>
					</tr>
					</table>
	</div>		
	
	<div class="clearfix"></div>
	
	<br/>
	<div class="tleft"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wszystkie statystyki są podane dla bitew PVP</small></div>
	<div class="tright"><small>%dateCreated%: $created</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>%dateUpdate%: $state</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>