<style>
	x-tooltip {
		padding: 2px 4px !important;
	}
	.ezRatio {
		text-align: center;
		padding-bottom: 0.5em;
	}
	.ezRatio p {
		margin: 0 auto;
		font-size: 4em;
		font-weight: bold;
		text-align: center;
		line-height: 1em;
	}
	.ezPlaceIcon {
		width: 84px;
		height: 84px;
		float: right;
		margin-left: 4px;
	}
</style>

<div class="ezContent">
	<div class="ez3">
		<h1>%main_stats%</h1>
		<dl>
			<dt>%rank_info%:</dt><dd>$seasons[rank_info]</dd>
			<dt>%max_rank%:</dt><dd>$max_rank</dd>
						
		</dl>
	</div>
	
	
	
	
	
	<div class="clearfix"></div>
	
	<br/>
	<div class="tleft"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wszystkie statystyki są podane dla bitew rankingowych</small></div>
	<div class="tright"><small>%dateCreated%: $created</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>%dateUpdate%: $state</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>