<style>
	x-tooltip {
		padding: 2px 4px !important;
	}
	.ezRatio {
		text-align: center;
		padding-bottom: 0.5em;
	}
	.ezRatio p {
		margin: 0 auto;
		font-size: 4em;
		font-weight: bold;
		text-align: center;
		line-height: 1em;
	}
	.ezPlaceIcon {
		width: 84px;
		height: 84px;
		float: right;
		margin-left: 4px;
	}
</style>

<div class="ezContent">
	<div class="ez3">
		<h1>Sezon 1</h1>
		<dl>
			<dt>%rank%:</dt><dd>$s1[rank]</dd>
			<dt>%stage%:</dt><dd>$s1[stage]</dd>
			<dt>%stars%:</dt><dd>$s1[stars]</dd>
			<dt>%start_rank%:</dt><dd>$s1[start_rank]</dd>
			<dt>%max_rank%:</dt><dd>$s1[max_rank]</dd>
			<dt><br></dt>
			<dt>%xp%:</dt><dd>$s1[xp]</dd>
			<dt>%frags%:</dt><dd>$s1[frags]</dd>
			<dt>%planes_killed%:</dt><dd>$s1[planes_killed]</dd>
			<dt>%battles%:</dt><dd>$s1[battles]</dd>
			<dt>%survived_battles%:</dt><dd>$s1[survived_battles]</dd>
			<dt>%wins%:</dt><dd>$s1[wins]</dd>
			<dt>%survived_wins%:</dt><dd>$s1[survived_wins]</dd>
			<dt>%draws%:</dt><dd>$s1[draws]</dd>
			<dt>%losses%:</dt><dd>$s1[losses]</dd>
			<dt>%capture_points%:</dt><dd>$s1[capture_points]</dd>
			<dt>%dropped_capture_points%:</dt><dd>$s1[dropped_capture_points]</dd>
			<dt>%damage_dealt%:</dt><dd>$s1[damage_dealt]</dd>			
			<dt>%max_xp%:</dt><dd>$s1[max_xp]</dd>
			<dt>%max_frags_battle%:</dt><dd>$s1[max_frags_battle]</dd>
			<dt>%max_planes_killed%:</dt><dd>$s1[max_planes_killed]</dd>
			<dt>%max_damage_dealt%:</dt><dd>$s1[max_damage_dealt]</dd>
		</dl>
	</div>
	
	<div class="ez3">
		<h1>Sezon 2</h1>
		<dl>
			<dt>%rank%:</dt><dd>$s2[rank]</dd>
			<dt>%stage%:</dt><dd>$s2[stage]</dd>
			<dt>%stars%:</dt><dd>$s2[stars]</dd>
			<dt>%start_rank%:</dt><dd>$s2[start_rank]</dd>
			<dt>%max_rank%:</dt><dd>$s2[max_rank]</dd>
			<dt><br></dt>
			<dt>%xp%:</dt><dd>$s2[xp]</dd>
			<dt>%frags%:</dt><dd>$s2[frags]</dd>
			<dt>%planes_killed%:</dt><dd>$s2[planes_killed]</dd>
			<dt>%battles%:</dt><dd>$s2[battles]</dd>
			<dt>%survived_battles%:</dt><dd>$s2[survived_battles]</dd>
			<dt>%wins%:</dt><dd>$s2[wins]</dd>
			<dt>%survived_wins%:</dt><dd>$s2[survived_wins]</dd>
			<dt>%draws%:</dt><dd>$s2[draws]</dd>
			<dt>%losses%:</dt><dd>$s2[losses]</dd>
			<dt>%capture_points%:</dt><dd>$s2[capture_points]</dd>
			<dt>%dropped_capture_points%:</dt><dd>$s2[dropped_capture_points]</dd>
			<dt>%damage_dealt%:</dt><dd>$s2[damage_dealt]</dd>			
			<dt>%max_xp%:</dt><dd>$s2[max_xp]</dd>
			<dt>%max_frags_battle%:</dt><dd>$s2[max_frags_battle]</dd>
			<dt>%max_planes_killed%:</dt><dd>$s2[max_planes_killed]</dd>
			<dt>%max_damage_dealt%:</dt><dd>$s2[max_damage_dealt]</dd>
		</dl>
	</div>
	
	<div class="clearfix"></div>
	
	<br/>
	<div class="tleft"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wszystkie statystyki są podane dla bitew PVP</small></div>
	<div class="tright"><small>%dateCreated%: $created</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>%dateUpdate%: $state</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>